{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block titre %}<h1>Inscription</h1> {% endblock %}
{% block body %}

    <form class="inscription">
        {{ form_start(registrationForm) }}

                <div class="form-group">
                    {{ form_widget(registrationForm.nom, {'attr':{'class':'input', 'type':'text', 'placeholder':'Nom'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(registrationForm.prenom, {'attr':{'class':'input', 'type':'text', 'placeholder':'Prénom'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(registrationForm.telephone, {'attr':{'class':'input', 'type':'numer', 'placeholder':'Numéro de téléphone'}}) }}
                </div>

                <div class="form-group">

                    {{ form_widget(registrationForm.email, {'attr':{'class':'input', 'type':'email', 'placeholder':'E-mail'}}) }}
                </div>

                <div class="form-group">

                    {{ form_widget(registrationForm.pseudo, {'attr':{'class':'input', 'type':'text', 'placeholder':'Pseudo'}}) }}
                </div>


                <div class="form-group">
                    <label for="password">Mot de passe : </label><br>
                    {{ form_widget(registrationForm.plainPassword, { label: 'Password','placeholder':'Mot de passe' }) }}
                </div>
                <div class="form-group">
                    <label for="password">Confirmer mot de passe : </label><br>
                    <input type="password">
                </div>
        <div class="form-group">
            <label for="site">Campus : </label><br>
            {{ form_widget(registrationForm.site, {'attr':{'class':'select'}}) }}
        </div>
        <br>
        <div class="form-check">
            <label for="checkbox">J'accepte les termes et conditions</label>
            {{ form_widget(registrationForm.agreeTerms, {'attr':{'class':'checkbox'}}) }}
        </div>
        <br>
        <button type="submit" class="btn">C'est parti</button>

        {{ form_end(registrationForm) }}
    </form>

{% endblock %}
