{% extends 'base.html.twig' %}

{% block title %}On va s'en sortir.com{% endblock %}

{% block body %}

    {{ form_start(mainForm) }}

    {{ form_widget(mainForm) }}
    <button type="submit">Rechercher</button>
    {{ form_end(mainForm) }}

   <table>
       <thead>
            <tr>Nom de la sortie</tr>
            <tr>Date de la sortie</tr>
            <tr>Clôture</tr>
            <tr>inscrits/places</tr>
            <tr>Etat</tr>
            <tr>Inscrit</tr>
            <tr>Organisateur</tr>
            <tr>Actions</tr>
       </thead>
       <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.sortie.nom }}</td>
                    <td>{{ result.sortie.dateHeureDebut|date('d/M/Y') }}</td>
                    <td>{{ result.sortie.dateLimiteInscription|date('d/M/Y') }}</td>
                    <td>{{ result.sortie.nbInscriptionsMax }}</td>
                    <td>{{ result.sortie.etat.libelle }}</td>
                    <td></td>
                    <td>{{ result.sortie.organisateur.pseudo }}</td>
                    <td></td>
                </tr>
            {% endfor %}
       </tbody>
   </table>

{% endblock %}
