{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}On va s'en sortir.com{% endblock %}

{% block body %}

    <div id="date-participant">
        <div class="custom-select" style="width:400px;">
            <h3>Date du jour : {{ date|date('d/m/y') }}</h3>
        </div>
        <h3>Participant : {{ app.user.pseudo }}</h3>
    </div>

    {% form_theme mainForm 'bootstrap_5_layout.html.twig' %}

    {{ form_start(mainForm) }}
    <div class="text-blanc">
        <div class="row">
            <h3>Filtrer les sorties</h3>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="select">
                            {{ form_label(mainForm.site) }}
                            {{ form_widget(mainForm.site) }}
                            {{ form_label(mainForm.nom) }}
                            {{ form_widget(mainForm.nom) }}
                        </div>
                    </div>
                    <div class="col">
                        {{ form_row(mainForm.sortieOrganisateur) }}
                        {{ form_row(mainForm.sortieInscrit) }}
                        {{ form_row(mainForm.sortiePasInscrit) }}
                        {{ form_row(mainForm.sortiePassees) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="select">
                            {{ form_label(mainForm.dateHeureDebut) }}
                            {{ form_widget(mainForm.dateHeureDebut) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="select">
                            {{ form_label(mainForm.dateHeureFin) }}
                            {{ form_widget(mainForm.dateHeureFin) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-warning btn-lg btn-block" type="submit">Rechercher</button>
            </div>
        </div>
    </div>
    </div>

    {{ form_end(mainForm) }}

    <table class="table table-color text-blanc"
           id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true"
           data-show-export="true"
           data-click-to-select="true"
           data-toolbar="#toolbar">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr class="text-blanc">
                <td scope="row"><a href="{{ path('afficherSortie', {'id':result.id}) }}">{{ result.nom }}</td>
                <td>{{ result.dateHeureDebut|date('d/M/Y') }}</td>
                <td>{{ result.dateLimiteInscription|date('d/M/Y') }}</td>
                <td>{{ result.nombreInscription }} / {{ result.nbInscriptionsMax }}</td>
                <td>{{ result.etat.libelle }}</td>
                <td>{% if app.user %}
                        {% for inscription in result.inscriptions %}
                            {% if inscription.participant.id == app.user.id %}
                                X
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                {% if app.user.id == result.organisateur.id %}
                    <td><a href="{{ path('app_monProfil') }}">{{ result.organisateur.pseudo }}</a></td>
                {% else %}
                    <td>
                        <a href="{{ path('app_afficherProfil', {'id': result.organisateur.id }) }}">{{ result.organisateur.pseudo }}</a>
                    </td>
                {% endif %}

                <td>{% if app.user %}

                            <div class="row">
                                {% if result.organisateur.id == app.user.id %}
                                    {% if result.etat.id == 1 %}

                                            <div class="col"><a class="btn btn-modifier"
                                                                href="{{ path('app_modifierSortie',  {'id': result.id}) }}">Modifier</a>
                                            </div>
                                        <div class="col"><a class="btn btn-publier"
                                                            href="{{ path('app_publierSortie',  {'id': result.id}) }}">Publier</a>
                                        </div>

                                    {% elseif result.etat.id == 2 %}
                                        <div class="col"><a class="btn btn-afficher"
                                                            href="{{ path('afficherSortie',  {'id': result.id}) }}">Afficher</a>
                                        </div>
                                        <div class="col"><a class="btn btn-annuler"
                                                            href="{{ path('app_annulerSortie',  {'id': result.id}) }}">Annuler</a>
                                        </div>
                                    {% else %}
                                        <div class="col"><a class="btn btn-afficher"
                                                            href="{{ path('afficherSortie',  {'id': result.id}) }}">Afficher</a>
                                        </div>
                                        <div class="col"></div>
                                    {% endif %}
                                {% else %}
                                    <div class="col"><a class="btn btn-afficher"
                                                        href="{{ path('afficherSortie',  {'id': result.id}) }}">Afficher</a>
                                    </div>
                                    {% set sinscrire = true %}
                                    {% for uis in userInscrSort %}
                                        {% if result.id == uis.sortie.id %}
                                            {% set sinscrire = false %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if (result.etat.id == 2 or result.etat.id == 3) %}
                                        {% if (sinscrire and result.etat.id == 2) %}
                                            <div class="col"><a class="btn btn-inscrire"
                                                                href="{{ path('app_inscrire',  {'id': result.id}) }}">S'inscrire</a>
                                            </div>
                                        {% elseif sinscrire == false %}
                                            <div class="col"><a class="btn btn-desister"
                                                                href="{{ path('app_desister',  {'id': result.id}) }}">Se
                                                    désister</a></div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col"></div>
                                    {% endif %}
                                {% endif %}
                            </div>

                    {% else %}
                        <a class="btn btn-afficher" href="{{ path('afficherSortie',  {'id': result.id}) }}">Afficher</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning btn-lg btn-block" href="{{ path('creerSortie') }}">Créer une sortie</a>

{% endblock %}
