{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block body %}
    <div>
        <h1>{{ sortie.nom }}</h1>
        <table class="table">
           <thead>
            <tr>
                <th scope="row">date de la sortie</th>
                <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th scope="row">date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th scope="row">nombre de places</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th scope="row">durée</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th scope="row">Les infos</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th scope="row">Campus Organisateur</th>
                <td>{{ sortie.organisateur.site.nom }}</td>
            </tr>
           <tr>
               <th scope="row">Lieu</th>
               <td>{{ sortie.lieu.nom }}</td>
           </tr>
           <tr>
               <th scope="row">Rue</th>
               <td>{{ sortie.lieu.rue }}</td>
           </tr>
            <tr>
                <th scope="row">Code Postal</th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>
                <th scope="row">Ville</th>
                <td>{{ sortie.lieu.ville.nomVille }}</td>
            </tr>
           </thead>
        </table>

    {% if participants is empty %}
    <p> Il n'y a pas encore de participant pour cette sortie ! </p>
    {% else %}
    <div>
        <h3>Liste des participants inscrits</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
            </tr>
            </thead>


            <tbody>
            {% for participant in participants %}
                <tr>
                    <td scope="row">{{ participant.participant.pseudo }}</td>
                    <td>{{ participant.participant.nom }}</td>
                    <td>{{ participant.participant.prenom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

    {% if sortie.organisateur == app.user %}
    <a class="btn btn-modifier" href="{{ path('app_modifierSortie',  {'id': sortie.id})}}">Modifier votre sortie</a>
    {% endif %}

{% endblock %}