{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block main %}
    <div>
        <ul>
            {% for sortie in sorties %}
            <li>
               {# <a href="{{ path('afficherSortie',{'id':sortie.id}) }}">#}
                    {{ sortie.nom }} {{ sortie.dateHeureDebut|date("d/m/y/H/i") }} {{ sortie.dateLimiteInscription }}
                    {{ sortie.nbInscriptionsMax }} {{ sortie.duree|date("H/i") }} {{ sortie.infosSortie }}
               {# </a>#}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <ul>
            {% for lie in lieu %}
            <li>
               {# <a href="{{ path('afficherSortie',{'id':lieu.id}) }}">#}
                    {{ lie.ville }} {{ lie.code_postal }}
               {# </a>#}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h1>Liste des participants inscrits</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
            </tr>
    </div>
{% endblock %}