{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block body %}
    <div>
        <ul>
            <li>{{ sortie.nom }} </li>
            <li>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }} </li>
            <li>{{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}</li>
            <li>{{ sortie.nbInscriptionsMax }}</li>
            <li>{{ sortie.duree | date('H:i') }}</li>
            <li>{{ sortie.infosSortie }}</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>{{ sortie.lieu.ville.nomVille }}</li>
            <li>{{ sortie.lieu.ville.codePostal }}</li>
        </ul>
    </div>

    <div>
        <h1>Liste des participants inscrits</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td scope="row">{{ participant.participant.pseudo }}</td>
                    <td>{{ participant.participant.nom }}</td>
                    <td>{{ participant.participant.prenom }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}