{% extends 'base.html.twig' %}


{% block title %}
    Modifier la sortie
{%endblock%}
{% block titre %}

{% endblock %}

{% block javascripts %}
    <script defer>
        function onLieu(e){
            // recupérer la valeur de select
            let id = e.value;

            // créer une requette http
            const http = new XMLHttpRequest();
            // spécifier le type de reponse en json
            http.responseType="json";
            // la fonction se déclenche une fois que le serveur a repondu
            http.onload = function(){

                const data = JSON.parse(this.response);
                document.getElementById("rue").innerHTML = data.rue;
                document.getElementById("ville").innerText = data.ville;
                document.getElementById("cp").innerText = data.cp;
            };
            // choisir la méthode et l'URL
            http.open("GET","/get-adresse/"+id);
            // envoyer la requete http vers le serveur
            http.send();
        }

        window.addEventListener("load", function(event) {
            onLieu(document.getElementById("update_sortie_lieu"));
        });

//fonction pour changer les lieux disponibles selon la sélection de la ville :

        function onVille(v){
            // recupérer la valeur de option
            let id = v.value;

            // créer une requette http
            const http = new XMLHttpRequest();
            // spécifier le type de reponse en json
            http.responseType="json";
            // la fonction se déclenche une fois que le serveur a repondu
            http.onload = function(){
                 const data = JSON.parse(this.response);
                var option ='<option value="0"disabled > Choisis un lieu </option>' ;
                 for( let e of data){
                     option += '<option value="'+e.id+'" >'+e.nom+'</option>';
                 }
                document.getElementById("update_sortie_lieu").innerHTML = option;

            };
            // choisir la méthode et l'URL
            http.open("GET","/get-lieux/"+id);
            // envoyer la requete http vers le serveur
            http.send();
        }

        window.addEventListener("load", function(event) {
            onVille(document.getElementById("update_sortie_ville"));
        });

    </script>

{% endblock %}



{% block body %}

    {% if app.user and sortie.organisateur.id != app.user.id %}
        <i>Vous n'êtes pas autorisé à accéder à cette page ! </i>
    {% else %}

        {% if sortie.etat.id==6 %}
            <p> Cette sortie a été annulée !<br>
                Motif : {{ sortie.infosSortie }}
                <br>
                <a href="{{ path('app_publierSortie',  {'id': sortie.id}) }}" class="lienBouton">Réactiver la sortie ?</a>
            </p>

        {% elseif sortie.etat.id !=6 %}

            <body>
            <h1>{{ title }} {{ sortie.nom }}</h1>

            <div class="GaucheDroite">

                <div class="gauche">
                    {{ form_start(updateSortieForm) }}
                    <label class="label">Nom de la sortie : </label>
                    {{ form_widget(updateSortieForm.nom) }}
                    <br>
                    <label class="label">Date et heure de la sortie : </label>
                    {{ form_widget(updateSortieForm.dateHeureDebut) }}

                    <label class="label">Date limite d'inscription :</label>
                    {{ form_widget(updateSortieForm.dateLimiteInscription) }}

                    <label class="label">Nombre de places :</label>
                    {{ form_widget(updateSortieForm.nbInscriptionsMax) }}
                    <br>
                    <label class="label">Durée :</label>
                    {{ form_widget(updateSortieForm.duree) }} heures.
                    <br>
                    <label class="label">Description et infos :</label>
                    {{ form_widget(updateSortieForm.infosSortie,  {'attr':{'class':'textarea'}} ) }}
                </div>

                <div class="droite">
                    <label class="label">Campus organisateur : </label>
                    {{ form_widget(updateSortieForm.site) }}

                    <label class="label">Ville de la sortie : </label>
                        <select id="update_sortie_ville" onchange="onVille(this);">
                            {% for ville in villes %}
                            <option value="{{ ville.id }}">{{ ville.nomVille }}</option>
                            {% endfor %}
                        </select>


                    <div class="lieuAddLieu">
                        <label class="label">Lieu de la sortie : </label>
                        {{ form_widget(updateSortieForm.lieu, {'attr':{'class':'choice' , 'onchange':"onLieu(this);"}}) }}




                        <a data-bs-toggle="modal" data-bs-target="#MyModalLieu" href="#MyModalLieu">
                            <img src="{{ asset('img/16057.png') }}" width="30px"/>
                        </a>



                    </div><!-- Fin de la div lieuNouveauLieu-->

<!-------------------------------------------------------------------------->

                    <p id="rue"></p>
                    <p id="ville"></p>
                    <p id="cp"></p>

                    {% if sortie.lieu.latitude %}
                        <label class="label">Latitude :</label>
                        <p id="lattitude"></p>
                    {% endif %}
                    {% if sortie.lieu.longitude %}
                        <label class="label">Longitude :</label>
                        <p id="longitude"></p>
                    {% endif %}
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
        1d2712.5968569125494!2d-1.5564777840385209!3d47.16574957915793!2m3!1f0!2f0!3f0!3m2!
        1i1024!2i768!4f13.1!3m3!1m2!1s0x4805e97f6fb1094b%3A0x7d21011fae2eb0ba!2s2%20Rue%20
        Frida%20Kahlo%2C%2044400%20Rez%C3%A9!5e0!3m2!1sfr!2sfr!4v1634137488608!5m2!1sfr!2sfr"
                            width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    {# <iframe src="'https://maps.google.com/maps?q=' + lat + ',' + lng + '&t=&z=15&ie=UTF8&iwloc=&output=embed'" id="carte"
                width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"> </iframe>#}

                </div>




            </div>

            <div class="boutonsModifSortie">
                {{ form_widget(updateSortieForm.Enregistrer  ,  {'attr':{'class':'"btn btn-afficher'}} ) }}
                <a class="btn btn-publier "  href="{{ path('app_publierSortie',  {'id':sortie.id}) }}">Publier</a>
                <a class="btn btn-annuler" href="{{ path('app_annulerSortie',  {'id':sortie.id}) }}">Annuler la sortie</a>
                {{ form_widget(updateSortieForm.reset, {'attr':{'class':'btn-modifier'}} ) }}
            </div>

            {{ form_end(updateSortieForm) }}




            <!-- Modal -->
            <div class="modal fade" id="MyModalLieu" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Ajouter un lieu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{form_start(nouveauLieuForm, {'action': path('nouveauLieu', {'sortie_id':sortie.id})}) }}
                            <div class="form-group">
                                {{ form_widget(nouveauLieuForm.nom, {'attr':{'class':'input', 'type':'text', 'placeholder':'Nom *'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(nouveauLieuForm.rue, {'attr':{'class':'input', 'type':'text', 'placeholder':'Rue *'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(nouveauLieuForm.latitude, {'attr':{'class':'input', 'type':'text', 'placeholder':'Latitude'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(nouveauLieuForm.longitude, {'attr':{'class':'input', 'type':'text', 'placeholder':'Longitude'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(nouveauLieuForm.ville,{'attr':{'class':'choice'}}) }}
                                <a href="#">Ajouter une ville</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                                <div class="form-group">
                                    {{ form_widget(nouveauLieuForm.enregistrer,{'attr':{'class':'btn-success'}}) }}
                                </div>
                                <div class="form-group">
                                    {#{{ form_widget(nouveauLieuForm.annuler,{'attr':{'class':'uabb-modal-close'}})}}#}
                                    <button class="btn-warning" data-bs-dismiss="modal">Annuler</button>
                                </div>
                            {{ form_end(nouveauLieuForm) }}
                        </div>
                    </div>
                </div>
            </div> <!--fin de la div modal-->

        {% endif %}
    {% endif %}
    </body>
{% endblock %}
