{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#latitude").change(function(){
                var id = $(this).val();
                $.get("/getPosition/"+id, function(data, status){
                    //alert("Data: " + data + "\nStatus: " + status);
                    var res=JSON.parse(data);
                    $("#carte").val(res.code);
                });
            });
        });
    </script>

{% endblock %}
{% block body %}
    {% if sortie.etatSortie==6 %}
      <p> Cette sortie a été annulée !<br>
        Motif : {{ sortie.infosSortie }}
      </p>

    {% elseif sortie.etatSortie !=6 %}

    <body>
 <h1>{{ title }} {{ sortie.nom }}</h1>

<div class="GaucheDroite">

    <div class="gauche">
        {{ form_start(updateSortieForm) }}
            <label class="label">Nom de la sortie : </label>
            {{ form_widget(updateSortieForm.nom) }}
<br>
            <label class="label">Date et heure de la sortie : </label>
        {{ form_widget(updateSortieForm.dateHeureDebut) }}

            <label class="label">Date limite d'inscription :</label>
            {{ form_widget(updateSortieForm.dateLimiteInscription) }}

            <label class="label">Nombre de places :</label>
            {{ form_widget(updateSortieForm.nbInscriptionsMax) }}
<br>
            <label class="label">Durée :</label>
            {{ form_widget(updateSortieForm.duree) }}
<br>
            <label class="label">Description et infos :</label>
            {{ form_widget(updateSortieForm.infosSortie,  {'attr':{'class':'textarea'}} ) }}
    </div>

    <div class="droite">
        <label class="label">Ville organisatrice : </label>
        {{ form_widget(updateSortieForm.site) }}
        <div class="lieuAddLieu">
            <label class="label">Lieu : </label>
            {{ form_widget(updateSortieForm.lieu, {'attr':{'class':'choice'}}) }}
            <a href="#"><img src="{{ asset('img/16057.png') }}" width="30px"> </a>
        </div>
        <label class="label">Rue : {{ sortie.lieu.rue }}</label>
        <label class="label">Code postal : {{ sortie.lieu.ville.codePostal }}</label>

        <label class="label">Latitude :</label>
        <input type="text" class="position" id="lat">
        <label class="label">Longitude :</label>
        <input type="text"class="position" id="lng">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
        1d2712.5968569125494!2d-1.5564777840385209!3d47.16574957915793!2m3!1f0!2f0!3f0!3m2!
        1i1024!2i768!4f13.1!3m3!1m2!1s0x4805e97f6fb1094b%3A0x7d21011fae2eb0ba!2s2%20Rue%20
        Frida%20Kahlo%2C%2044400%20Rez%C3%A9!5e0!3m2!1sfr!2sfr!4v1634137488608!5m2!1sfr!2sfr"
                width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       {# <iframe src="'https://maps.google.com/maps?q=' + lat + ',' + lng + '&t=&z=15&ie=UTF8&iwloc=&output=embed'" id="carte"
                width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"> </iframe>#}

    </div>




</div>

    <div class="boutonsModifSortie">
        {{ form_row(updateSortieForm.Enregistrer) }}
        {{ form_row(updateSortieForm.PublierLaSortie) }}
          <a class="lienBouton" href="{{ path('app_annulerSortie',  {'id':sortie.id}) }}">Annuler la sortie</a>
        {{ form_row(updateSortieForm.AnnulerLesModifications) }}
    </div>

{{ form_end(updateSortieForm) }}

    {% endif %}
    </body>
{% endblock %}
