<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}On va sortir !{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}

        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}


</head>

<body>
<div class="container">
    <header>
        {% if app.user %}
            <h2>Bonjour {{ app.user.pseudo }} ! On sort ? </h2>
        {% else  %}
            <h2>Bonjour ! On sort ? </h2>
        {% endif %}

        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand" href="{{ path('main') }}"><strong>Sortir.com</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                {% if app.user %}
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ path('app_logout') }}">Déconnexion </a>
                    </div>
                {% else  %}
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ path('app_login') }}">Connexion </a>
                        <a class="nav-item nav-link" href="{{path('app_register')}}">Inscription</a>
                    </div>
                {% endif %}
            </div>
        </nav>

        <hr>
    </header>
    {% for categorie, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ categorie }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block titre %}{% endblock %}
        <div id="global">
            {% block body %}{% endblock %}
    </main>
</div>
<footer>
    <hr>
    @Sortir.com&#169;, {{ "now"|date("Y") }}
</footer>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



</div> <!-- fermeture classe container -->
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
