{% extends 'base.html.twig' %}


{% block javascripts %}

    <script>
        var loadFile = function (event) {
            var image = document.getElementById("output");
            image.src = URL.createObjectURL(event.target.files[0]);
        };


    </script>

    <script src="{{ asset('js/main.js') }}"></script>

	<script type="text/javascript">

function PreviewImage() {
var oFReader = new FileReader();
oFReader.readAsDataURL(document.getElementById("file").files[0]);
oFReader.onload = function (oFREvent) {
	document.getElementById("output").src = oFREvent.target.result;
	};
};
</script>

{% endblock %}

{% block body %}

    <body>
    <h1>{{ title }} {{ participant.pseudo }}</h1>

    <div class="profile-pic">
        <label class="-label" for="file">
            <span class="glyphicon glyphicon-camera"></span>
            <span>Change Image</span>
        </label>
        <input id="file" type="file" onchange="loadFile(event)"/>
        <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg" id="output" width="150" />
    </div>

<div class="profil">
    {{ form_start(ModifierProfilFormType) }}
    <label class="label">Pseudo : </label>
    {{ form_widget(ModifierProfilFormType.pseudo) }}
    <br>
    <label class="label">Prénom : </label>
    {{ form_widget(ModifierProfilFormType.prenom) }}
    <br>
    <label class="label">Nom : </label>
    {{ form_widget(ModifierProfilFormType.nom) }}
    <br>
    <label class="label">Téléphone : </label>
    {{ form_widget(ModifierProfilFormType.telephone) }}
    <br>
    <label class="label">email : </label>
    {{ form_widget(ModifierProfilFormType.email) }}
    <br>
    <label class="label">Mot de passe : </label>
    {{ form_widget(ModifierProfilFormType.password) }}
    <br>
    <label class="label">Mon campus de rattachement :</label>
    {{ form_widget(ModifierProfilFormType.site, {'attr':{'class':'choice'}}) }}

</div>
    <div class="btnModifProfil">
        {{ form_row(ModifierProfilFormType.modifier) }}
        {{ form_row(ModifierProfilFormType.annuler) }}
    </div>
    {{ form_end(ModifierProfilFormType) }}

{% endblock %}