{% extends 'base.html.twig' %}
{% block javascript %}
<script>
    var loadFile = function (event) {
    var image = document.getElementById("output");
    image.src = URL.createObjectURL(event.target.files[0]);
};


</script>
{% endblock %}
{% block body %}
    <div>
        <h1>Mon Profil</h1>
    </div>

    <div class="profile-pic">
        <label class="-label" for="file">
            <span class="glyphicon glyphicon-camera"></span>
            <span>Change Image</span>
        </label>
        <input id="file" type="file" onchange="loadFile(event)"/>
        <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg" id="output" width="200" />
    </div>


    <div>
        <p>{{ form_start(ModifierProfilFormType) }}</p>
        <p>{{ form_widget(ModifierProfilFormType.pseudo) }}</p>
        <p>{{ form_widget(ModifierProfilFormType.prenom) }}</p>
        <p>{{ form_widget(ModifierProfilFormType.nom) }}</p>
        <p>{{ form_widget(ModifierProfilFormType.telephone) }}</p>
        <p>{{ form_widget(ModifierProfilFormType.email) }}</p>
        <p>{{ form_widget(ModifierProfilFormType.password) }}</p>
        {{ form_widget(ModifierProfilFormType.site, {'attr':{'class':'choice'}}) }}
    </div>
    <div class="btnModifProfil">
        {{ form_row(ModifierProfilFormType.modifier) }}
        {{ form_row(ModifierProfilFormType.annuler) }}
    </div>
   {{ form_end(ModifierProfilFormType) }}
{% endblock %}